@import "~normalize.css/normalize.css"

$white: #fff
$black: #14171A
$dark-gray: #657786
$gray: #AAB8C2
$light-gray: #E1E8ED
$extra-light-gray: #F5F8FA
$link-color: #c9c9c9

*
  box-sizing: border-box
  font-family: 'Noto Sans JP', sans-serif
  //font-family: 'Noto Sans JP', sans-serif
  //font-family: 'Nunito', sans-serif

body
  height: 100vh

#background-video
  position: fixed
  right: 0
  bottom: 0
  min-width: 100%
  min-height: 100%

.main-container
  height: 100%
  position: fixed
  bottom: 0
  width: 100%
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  background: rgba(0, 0, 0, 0.2)
  color: #f1f1f1

.searchbar-container
  width: 300px
  
  input
    width: 100%
    padding: 10px
    color: $light-gray
    background: transparent
    border: transparent
    transition: .3s

    &:focus, &:hover
      outline: none
      border-bottom: 1px solid $gray

    &::placeholder
      color: $gray
    


.footer
  height: 40px
  display: flex
  justify-content: center
  align-items: center
  padding: 5px
  color: $white

  p
    text-align: center
    font-weight: 500
    margin: 0
  
  a 
    text-decoration: none
    font-weight: 700
    transition: .4s
    color: $link-color

    &:hover
      font-size: 1.1rem
    &:visited 
      text-decoration: none
      color: $link-color
  
